[user]
    email = david.wuu@gmail.com
    name = David Wu
[alias]
    st = status
    ca = commit --am
    cm = commit
    ps = push origin HEAD:refs/for/develop
    pm = push origin HEAD:refs/for/master
    pd = push origin HEAD:refs/drafts/develop
    rb = rebase -i develop
    rbc = rebase --continue
    ch = checkout
    br = branch
    gg = log --oneline --abbrev-commit --all --graph --decorate --color
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    tree = log --oneline --graph --decorate --all
    l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
   ui = true
   [color "branch"]
       current = yellow reverse
       local = yellow
       remote = green
   [color "diff"]
       meta = yellow
       frag = magenta
       old = red
       new = green
       whitespace = red reverse
   [color "status"]
       added = yellow
       changed = green
       untracked = cyan
[core]
    editor = /usr/bin/vim
