body {
    color: lime;
    background-color: grey;
}

.connector{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;

    &:hover{
        width:20px;
        height: 20px;
    }

    &.parent{
        background-color: purple;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
    }

    &.child{
        background-color: yellow;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
    }

}


.dashboard{
    background-color: black;
    height: 100%;
    width: 100%;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.draggable{
    cursor: move;
}

.overflow-hidden{
    overflow: hidden;
}

.widget{
    background-color: blue;
    color: lime;
    height: 300px;
    width: 300px;
}

.card{
    display: flex;
    flex-direction: column;
    // margin: 15px 15px 15px 15px;
    // overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
    font-size: 14px;

    &.unclickable{
        pointer-events: none;
    }

    &.floating{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        border-radius: 4px;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, .25);
    }

    .card-header{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        background-color: red;
        padding: 5px 5px 5px 5px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 4px 4px 0 0;
    }

    .card-body{
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 5px 5px 5px 5px;
    }

}